<div class="actions-wrapper"
     *mobxAutorun
>

  <div class="input-div">
    <div class="dollar-icon">$</div>
    <input type="number" class="money-input" #thisAmount placeholder="enter amount"
           (keydown.enter)="deposit(+thisAmount.value)">
  </div>

  <div class="buttons-div">
    <div class="deposit trans-button"
         (click)="deposit(+thisAmount.value)">
      deposit
    </div>
    <div class="withdraw trans-button"
         (click)="withdraw(+thisAmount.value)">
      withdraw
    </div>
  </div>
</div>
