.pie-wrapper{
  display: block;
}
ul {
  list-style: none;
  display: flex;
  flex: 1;
}
li {

}
input {
  visibility:hidden;
}
label {
  cursor: pointer;
  border-right: 1px solid #EBEEF2 ;
  border-left: 1px solid #EBEEF2 ;
  display: flex;
  width: 200px;
  align-items: center;
  font-size: 1.4em;

  justify-content: center;
}
input:checked + label {
  background : #cf4e57;
}
